@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');


*,html{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins" !important;
 
    color: #d6d6d6;
    
}

.separador{
    border-width: 1px 1px 0px;
    border-style: solid;
    background-color: transparent;
    border-color: currentcolor;
    margin: 0px;
    width: 1200px;
    color: #d6d6d6;
}

.espacios{
    margin-inline-end: 16px;
}

.redes-sociales{
    margin-left: 54px !important;
}

.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin: 32px 0px 32px 0px;
    max-width: 1200px;
    width: 1200px;
}

header{
    max-width: 1200px;
    width: 1200px;
    display: flex;
    height: 56px;
    justify-content: space-between;
}

.hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #d6d6d6;
    border-radius: 0px 0px 8px 8px;
    color:#639 !important;
}

header nav a:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #d6d6d6;
    border-radius: 0px 0px 8px 8px;
}

.container-header{
    width: 100vw;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    height: 10vh;
}
.container-main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer{
    display: flex;
    justify-content: space-between;
}